<div id="features" class="bg-grey padding-top60 no-border-top">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center">
            <h2>Convert visitors to your paying customers</h2>
            <p>Take control over your landing page template</p>
        </div>

        <!-- .row -->
        <div class="row padding-bottom20">

            <div class="col-sm-6 col-md-5 margin-bottom40">
                <figure><img src="img/great-support.png" alt="Image"></figure>
            </div>

            <div class="col-sm-6 col-md-7 col-lg-6 col-lg-offset-1 margin-bottom40">
                <div class="col-text60">
                    <div class="post-heading-left">
                        <h2><strong>Great support.</strong> We will help you!</h2>
                        <p>Our customer service won’t leave you alone</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua uta enim ad minim veniam, quis nostrud exercitation ullamco laboris justo duo dolores et ea rebum.</p>
                    <div class="list-icon no-margin-bottom">
                        <ul>
                            <li><i class="fa fa-check-square-o"></i> Reliable and secure platform</li>
                            <li><i class="fa fa-check-square-o"></i> Everything is perfectly orgainized for future</li>
                            <li><i class="fa fa-check-square-o"></i> Attach large files easily</li>
                            <li><i class="fa fa-check-square-o"></i> Forwarding email accounts for free</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- .row end -->

        <!-- .row -->
        <div class="row">

            <div class="col-md-6 col-lg-5 margin-bottom20">
                <div class="col-text120">
                    <div class="post-heading-left top-heading-desc margin-bottom20">
                        <p>See this action in the real page</p>
                        <h2>How does this <strong>Promium</strong> work</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempam et justo duo dolores et ea rebum.</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="affa_col_text">
                                <h4>It is easy to use</h4>
                                <p>Duis aute dolor reprehende ritin voluptate cillum dolore fugiatos pariatur sint occaecat est.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="affa_col_text">
                                <h4>Designed to convert</h4>
                                <p>Duis aute dolor reprehende ritin voluptate cillum dolore fugiatos pariatur sint occaecat est.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="affa_col_text">
                                <h4>Powered by HTML5</h4>
                                <p>Duis aute dolor reprehende ritin voluptate cillum dolore fugiatos pariatur sint occaecat est.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="affa_col_text">
                                <h4>Video support</h4>
                                <p>Duis aute dolor reprehende ritin voluptate cillum dolore fugiatos pariatur sint occaecat est.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-0 col-lg-offset-1">
                <figure><img src="img/apple-devices.png" alt="Image"></figure>
            </div>

        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</div>