{% if sec_thumbnails_temp == 1 %}
{% if pricing_arr %}
<div class="row">
	{% for box in pricing_arr %}
	{% set cols = 12 / (pricing_arr | length)  %}
	<div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="{{ base_path }}{{ image_path }}/{{ box.image }}" alt="{{ box.image_alt }}" title="{{ box.image_alt }}">
	      <div class="caption">
	        <h3>{{ box.title }}</h3>
	        <p>{{ box.sentence }}</p>
	        <p><a href="#" class="btn btn-success btn-modal" data-src="thumbnail" data-toggle="modal" data-target="#modal-promo">{{ box.button }}</a></p>
	      </div>
	    </div>
    </div>
	{% endfor %}
</div>
{% endif %}
{% endif %}