{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}
	<div id="content">
		<div class="container">
		{% include "components/header.html" %}
		</div>
		{% include "components/navbar.html"  with {'navbar_type': '1'}  %}
		{% include "sections/sec-seo-content.html" %}
		{% include "sections/sec-promo.html" %}
		{% include "sections/sec-detail.html" %}
		{% include "sections/sec-pricing.html" %}
		{% include "sections/sec-geolinks.html" %}

		
		{% include "components/footer.html" %}
		{% include "components/modal.html" %}
	</div>
{% endblock %}

{% block js %}
{% endblock %}